*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}
ul{
    list-style-type: none;
}
.img-1{
    margin-left: 152px;
    margin-top: 30px;
    position: absolute;
}
.a-1{
    margin-left: 620px;
    margin-top: 35px;
    position: absolute;
}
.a-2{
    margin-left: 778px;
    margin-top: 35px;
    position: absolute;
}
.a-3{
    margin-left: 938px;
    margin-top: 35px;
    position: absolute;
}
.a-4{
    margin-left: 1050px;
    margin-top: 35px;
    position: absolute;
}
.bt-1{
    width: 155px;
    height: 42px;
    border-radius: 14px;
    color: black;
    font-weight: bold;
    margin-left: 1160px;
    margin-top: 24px;
    position: absolute;


}
.img-2{
    width: 1518px;
    height: 800px;
    position: absolute;
    margin-left: 1px;
    margin-top: 100px;
}
.h4-1{
    font-size:14px ;
    color: grey;
    position: absolute;
    margin-left: 670px;
    margin-top: 500px;
    font-family: "Poppins", sans-serif;
}
.h1-1{
    position: absolute;
    color: white;
   margin-left: 580px;
   font-size: 54px;
   font-family: "Poppins", sans-serif;
   margin-top: 530px;
   font-weight: lighter;

}
.p-1{
    color: grey;
    font-weight: lighter;
    position: absolute;
    font-size: 14px;
    margin-left: 540px;
    margin-top: 620px;
    font-family: "Poppins", sans-serif;
   
}
.img-3{
    position: absolute;
    margin-top: 700px;
    margin-left: 1200px;
}

.card-1{
    position: absolute;
    margin-top: 1000px;
    margin-left: 120px;
}
.h4-2{
    position: absolute;
    margin-top: 1400px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 150px;

}
.p-2{
    position: absolute;
    margin-top: 1450px;
    margin-left: 150px;
    color: grey;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
}
.bt-img{
    position: absolute;
    margin-top: 1520px;
    margin-left: 150px;
}
.card-2{
    position: absolute;
    margin-left: 750px;
    margin-top: 1000px;
}
.h4-3{
   position: absolute;
    margin-top: 1400px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 800px;

}
.p-3{
    position: absolute;
    margin-top: 1450px;
    margin-left: 800px;
    color: grey;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    
 
}
.bt-img-2{
    position: absolute;
    margin-top: 1520px;
    margin-left: 800px;
}

.card-3{
    position: absolute;
    margin-top: 1650px;
    margin-left: 120px;
    
}
.h4-4{
    position: absolute;
    margin-top: 2050px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 150px;

}
.p-4{
    position: absolute;
    margin-top: 2100px;
    margin-left: 150px;
    color: grey;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
}
.bt-img-4{
    position: absolute;
    margin-top: 2170px;
    margin-left: 150px;
}
.card-4{
    position: absolute;
    margin-left: 750px;
    margin-top: 1650px;
}
.h4-5{
   position: absolute;
    margin-top: 2050px;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 800px;

}
.p-5{
    position: absolute;
    margin-top: 2100px;
    margin-left: 800px;
    color: grey;
    font-weight: lighter;
    font-family: "Poppins", sans-serif;
    
 
}
.bt-img-5{
    position: absolute;
    margin-top: 2170px;
    margin-left: 800px;
}
.h1-2{
    color: white;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin-left: 640px;
    margin-top: 800px;

}
.h3-1{
    color: white;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: lighter;
    margin-left: 570px;
   margin-top: 870px;
}
.bc{
    position: absolute;
    width: 1519px;
    height: 600px;
    margin-top: 2400px;
   
}
.h4-6{
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: whitesmoke;
    margin-top: 2600px;
    margin-left: 1080px;

}
.p-6{
    position: absolute;
    margin-left:1080px ;
    margin-top:2640px ;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: grey;
}
.img-11{
    margin-top: 2900px;
    position: absolute;
    margin-left: 1100px;
}
.fr{
    position: absolute;
    margin-top: 3000px;
    margin-left: 798px;
}
.h3-4{
    margin-top: 3000px;
    position: absolute;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 3173px;
}
.h3-5{
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-top: 3199px;
    margin-left: 40px;
}
.p-11{
    position: absolute;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 3245px;
}
.bt-11{
    position: absolute;
    margin-left: 40px;
    margin-top: 3345px;
}
.bc-2{
    position: absolute;
    position: absolute;
    width: 1519px;
    height: 600px;
    margin-top: 3530px;
}
.h3-22{
    color: whitesmoke;
    position: absolute;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    margin-top: 3800px;
    margin-left: 1080px;

}
.p-22{
    color: grey;
    position: absolute;
    font-size: 14px;
    margin-top: 3850px;
    margin-left: 1080px;
    font-family: "Poppins", sans-serif;
    

}
.img-33{
    position: absolute;
    margin-left: 1080px;
    margin-top: 4100px;
}
.h1-11{
    position: absolute;
    margin-left: 650px;
   margin-top: 4270px;
   color: white;
   font-size: 40px;
   font-family: "Poppins", sans-serif;
}
.h2-1{
    position: absolute;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    margin-left: 565px;
    margin-top: 4350px;
}
.Frame{
    position: absolute;
    margin-left: 180px;
    margin-top: 4450px;
}
.img-22{
    position: absolute;
    width: 1519px;
    height: 600px;
    margin-top: 4650px;
}
.image{
    position: absolute;
    margin-top: 5200px;
    margin-left: 1080px;
}
.h3-555{
    position: absolute;
    color: white;
    font-size: 14px;
    margin-top: 4900px;
    font-family: "Poppins", sans-serif;
    margin-left: 1080px;

}
.p-44{
    position: absolute;
    color: grey;
    font-size: 14px;
    margin-top: 4950px;
    margin-left: 1080px;
    font-family: "Poppins", sans-serif;
}
.hh{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    margin-top: 5350px;
    margin-left:500px;

}
.h3{
    position: absolute;
    color: grey;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 5500px;
    margin-left: 640px;
}
.frame-2{
    position: absolute;
    margin-top: 5570px;
    margin-left: 650px;
}
.frame30{
    position: absolute;
    width: 1519px;
   margin-top: 5650px;
}
